doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Error
  body
    h1 Error
    p= texto
    img(src="/img/error-404.jpg", alt="error 404", width="400")

